.home-page-container .header {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.home-page-container .filter-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.home-page-container .filter-form label {
  margin-right: 10px;
}

.home-page-container .character-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  min-width: 100vw;
  min-height: calc(2 * (400px + 20px));
}

.home-page-container .character-container > div {
  margin-bottom: 20px;
  margin-right: 20px;
  flex: 0 0 calc(33.3333% - 20px);
}

.home-page-container .footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.home-page-container .pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-page-container .pagination-container button {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  margin: 0 5px;
  background-color: #555;
  color: white;
  border: none;
}

.home-page-container .pagination-container button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.home-page-container .pagination-container span {
  font-size: 14px;
  font-weight: bold;
}
.home-page-container .modal {
  background-color: #000000; 
  text-align: center;
}