.home-page-container .header > h1 {
  text-align: center;
  color: white;
}
.home-page-container .header > a > img {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 0;
  top: 0;
}

.home-page-container .header{
  padding: 10px;
  background-color: #333;
}
.home-page-container .filter-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.home-page-container .filter-form label {
  margin-right: 10px;
}

.home-page-container .character-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100vw;
  min-height: calc(2 * (400px + 20px));
}

.home-page-container .character-container > div {
  margin-bottom: 20px;
  margin-right: 20px;
  justify-content: space-around;
}
.home-page-container .character-container img{
  width: calc(20vw - 20px);
}
.home-page-container .footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.home-page-container .pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-page-container .pagination-container button {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  margin: 0 5px;
  background-color: #555;
  color: white;
  border: none;
}

.home-page-container .pagination-container button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.home-page-container .pagination-container span {
  font-size: 14px;
  font-weight: bold;
}
.ReactModal__Content.ReactModal__Content--after-open.modal {
  background-color: grey;
  text-align: center;
  width: 400px;
  height: 600px;
  position: fixed;
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}