.home-page-container .filter-form {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.home-page-container .filter-form label {
  margin-right: 10px;
  color: azure;
}
.home-page-container .character-container .noresult{
  color: aliceblue;
  font-size:  100px;
}
.home-page-container .character-container {
  display: flex;
  flex-wrap: wrap;
  min-width: 100;
  min-height: calc(2 * (400px + 20px));
  justify-content: space-around;
}

.home-page-container .character-container > div {
  margin-bottom: 20px;
  margin-right: 20px;
}
.home-page-container .character-container .character-image{
  width: calc(20vw - 20px);
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.home-page-container .footer {
  text-align: center;
  padding: 10px;
  background-color: #333;
  color: white;
}

.home-page-container .pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-page-container .pagination-container button {
  cursor: pointer;
  padding: 5px 10px;
  font-size: 14px;
  margin: 0 5px;
  background-color: #555;
  color: white;
  border: none;
}

.home-page-container .pagination-container button:disabled {
  background-color: #888;
  cursor: not-allowed;
}

.home-page-container .pagination-container span {
  font-size: 14px;
  font-weight: bold;
  
}
.home-page-container p{
  font-size: 2rem;
  text-align: center;
  color:rgb(25 255 0);
}
.ReactModal__Content--after-open.modal {
  background-color: grey;
  text-align: center;
  width: 400px;
  height: 600px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.home-page-container .favourite-icon{
  width: 50px;
  height: 50px;
  position: relative;
  top: -82%;
  left: -15%;
}

.home-page-container{
  background-image: url("../assets/rick-y-morty-en-el-espacio-6046.jpg");
  background-size: cover; 
  background-position: center ;
  background-repeat: no-repeat;
}