.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100%;   
    background-image: url("src/assets/rick-y-morty-en-el-espacio-6046.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0%;
 
  }
  
  .register-container form {
    background-color: #252121;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%; 
    max-width: 30rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .register-container label {
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .register-container input,
  .register-container button {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin-bottom: 1rem;
  }
  
  .register-container button {
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    border: none;
  }
  
  .register-container button:hover {
    background-color: #0062cc;
  }
  
  .register-container h1,
  .register-container label {
    text-align: center;
    color: #1fbc279d;
  }
  body{
    margin: 0%;
  }