.user-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
}

.user-container .characters-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.user-container .user_profile{
  display: flex;
  align-items: center;
}
.user-container .user_profile .profile {
  width: 200px;
  height: 200px;
  border-radius: 30px;
  cursor: pointer;
  margin-left: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-container .user_profile .name_profile {
  margin-left: 50px; 
  font-size: 50px;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-style: italic;
  color:yellow;
}

.user-container .header{
  background-color:slategray;
  font-size: 20px;
  align-content: center;
}
.user-container {
  background-image: url("../assets/rick-y-morty-en-el-espacio-6046.jpg");
  background-size: cover; 
  background-position: center ;
  background-repeat: no-repeat;
}


.user-container .favorite-characters > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-around;

}
.user-container .favorite-characters h2{
  font-size: 40px;
  color: azure;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.user-container .favorite-characters img {
  width: calc(20vw - 20px);
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}
.ReactModal__Content {
  background-color: grey;
}
.ReactModal__Content div {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: grey;

  padding: 20px;
}

.ReactModal__Content div img {
  width: 100px; 
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

.ReactModal__Content h2 {
  text-align: center;
}

.ReactModal__Content button {
  margin-top: 20px; 

}

.ReactModal__Content .pagination-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px; 
}

.user-container .change-user{
  width: 40px;
  height: 40px;
  margin-left: 3vh;
}
.user-container .form-update{
  margin-left: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.user-container .form-update .p-form{
  color: rgb(117, 255, 26);
  font-size: 1.5rem;
}
.user-container .form-update input{
  border-radius: 25px;
  text-align: center;
}
.user-container .form-update button{
  margin-top: 2vh;
  color: green;
  background-color: black;
  border-radius: 25px;
  width: 90px;
  height: 40px;
}
.user-container .error{
  color:red
}